@font-face {
    font-family: pingfang;
    src: url('/font/ping.ttf');
}

.background {
    width: 100%;
    height: 100%;
    background-image: url('/static/images/xju/backgroundxju.jpg');
    background-size: cover;
    text-align: center;
    margin: 0;
    /* background-repeat: no-repeat; */
}

.button {
    cursor: pointer;
}

.submit-head {
    width: 70%;
    height: 40px;
    text-align: center;
    background-color: #FFFFFF;
    display: inline-block;
    position: relative;
    margin: 10px 0 10px 0;
}

.submit-head-time {
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    float: left;
}

.submit-head-submit {
    width: 160px;
    height: 50px;
    font-size: 30px;
    font-family: pingfang;
    font-weight: 800;
    position: absolute;
    left: 40%;
    float: left;
}

.submit-head-btn-home {
    width: 70px;
    height: 30px;
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    top: 5px;
    left: 85%;

    background-color: #FB7299;
    border: none;
    color: #FFFFFF;

    cursor: pointer;
}

.submit-head-btn-home:hover {
    background-color: #fa82a4;
    transition: 200ms;
}

.submit-body {
    width: 70%;
    height: 680px;
    display: inline-block;
}

.submit-body-subject {
    text-align: left;
    width: 100%;
    height: 20%;
    background-color: #FFFFFF;
    border-radius: 4px;
    margin: 10px 0 10px 0;
}

.submit-body-subject-item {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 800;
    position: relative;
    left: 5px;
    margin: 5px 0 5px 10px;
}

.submit-body-subject-item-sub {
    width: 100%;
    height: 30px;
    margin: 10px 0 10px 0;
    position: relative;
}

.submit-body-subject-text {
    width: 80px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    margin: 5px 0 5px 15px;
    float: left;
}

.submit-body-subject-button {
    width: 80px;
    height: 30px;
    position: absolute;
    left: 100px;
    margin: 5px 0 5px 0;
    float: left;

    background-color: #00A1D6;
    color: #FFFFFF;
    font-size: 16px;
    border: none;

    cursor: pointer;

    box-shadow: 2px 2px 5px rgb(111, 110, 110);
}

.submit-body-subject-button:hover {
    background-color: #00B5E5;
    transition: 700ms;
}

.submit-body-subject-info {
    width: 800px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    vertical-align: middle;
    position: absolute;
    left: 200px;
    margin: 5px 0 5px 0;
}

.submit-body-subject-info-item1 {
    width: 75px;
    font-size: 16px;
    font-weight: bolder;
    display: inline-block;
}

.submit-body-subject-info-item2 {
    width: 200px;
    font-size: 15px;
    font-family: monospace;
    color: red;
    display: inline-block;
}

.submit-body-subject-info-tips {
    width: 250px;
    font-size: 16px;
    display: inline-block;
}

.submit-body-subject-info-remindtime {
    font-size: 16px;
    margin-left: 50px;
}

.backtop {
    display: inline-block;
    position: fixed;
    z-index: 99;
    right: 15px;
    bottom: 80px;
}

.backtop-button {
    font-size: 16px;
    color: white;
    background-color: #00A1D6;
    text-align: center;
    vertical-align: middle;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    text-shadow: gray 2px 2px 2px;
}

.backtop-button:hover {
    background-color: #00B5E5;
    transition: 200ms;
}

.footer-bottom {
    text-align: center;
    width: 100%;
    height: 55px;
    background-color: #000;
    border-top: 1px black solid;
}

.footer-bottom-copy {
    width: 100%;
    height: 16px;
    font-size: 12px;
    color: #FFFFFf;
    display: block;
    margin: 5px 0 3px 0;
}

.footer-bottom-icp {
    width: 100%;
    margin: 3px 0 3px 0;
}

.footer-bottom-icp>img {
    vertical-align: middle;
}

.footer-bottom-icp>a {
    font-size: 12px;
    height: 17px;
    line-height: 17px;
    vertical-align: middle;
    text-decoration: none;
    color: #FFFFFf;
}